*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:arial;
}
body{
    display:flex;
    padding:20px;
    justify-content:center;
    align-items:center;
    background: #90dac7;
    height:100vh;
}
.container{
    width:350px;
    padding:20px;
    background:white;
    border-radius:5px;
    text-align:center;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
h2{
    margin-bottom: 20px;
}
.form-group{
    margin-bottom:15px;
    text-align:left;
}
.form-group label{
    display:block;
    font-weight:bold;

}
.form-group input{
    width:100%;
    padding:10px;
    border-radius:5px;
    border: 1px solid black;
    margin-top: 5px;
}
.btn{
    width:100%;
    padding:10px;
    background:#90dac7;
    color: white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}
